mixin doctype(title)
    doctype html
    html(lang='ru')
        head
            meta(charset="UTF-8")
            meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
            meta(http-equiv="X-UA-Compatible" content="ie=edge")
            meta(property='og:description' content=page_meta.meta_description)
            meta(property='og:title' content=page_meta.title)            
            meta(name='description' content=page_meta.meta_description)   
            meta(name='keywords' content=page_meta.meta_keywords)            
            link(rel="stylesheet" href="styles/main.css")
            script(src="js/jquery-3.4.1.min.js")
            title #{page_meta.title}


mixin menuItem(href, text)
    li.nav_item
        a.nav_link(href=href) #{text}

mixin breadcrumbs(href, text)
    li.breadcrumbs_item
        a.breadcrumbs_link(href=href) #{text}
    p >

mixin card(href, title, price, price_currency, make, model, type, year, mileage, mileage_measure, axle_configuration, power, power_measure, payload, gross_weight, image)
    div.card(class = axle_configuration class=make data-make=make data-axle_configuration=axle_configuration data-price=price)
        img.card_img(src="img/" + image, alt="track")
        .card_info
            p.card_title #{title}
        .card_information
            .card_price.information_item
                p price
                p(data-price=price) #{price} #{price_currency}
            .card_make.information_item
                p manufacturer
                p #{make}
            .card_model.information_item
                p model
                p #{model}
            .card_type.information_item
                p type
                p #{type}
            .card_year.information_item
                p model year
                p #{year}
            .card_mileage.information_item
                p mileage
                p #{mileage} #{mileage_measure}
            .card_axle.information_item
                p axle configuration
                p #{axle_configuration}
            .card_power.information_item
                p power
                p #{power} #{power_measure}
            .card_payload.information_item
                p payload
                p #{payload}
            .card_weight.information_item
                p gross weight
                p #{gross_weight}
            a.card_btn(href=href) More

mixin prices (price)
    p.price#price(data-price=price) #{price}