header
    .container.header
        img.logo(src="img/logo.svg", alt="logo")
        h1.title #{page_meta.h1}
.menu
    .nav.container
        ul.nav_items
            each item in nav
                +menuItem(item.href, item.text)
    #burg
        a(href="#")
            span.bar#top
            span.bar#middle
            span.bar#bottom
    .mobile_tap 
        #mobile
            ul
                each item in nav
                    +menuItem(item.href, item.text)
.breadcrumbs.container
    ul.breadcrumbs_nav
        each item in breadcrumbs
            +breadcrumbs(item.href, item.text)
.main.container
    p.main_title Used DAF trucks from Netherlands for sale at SuperTrucks NL
    .filter
        p.filter_title filter
        .axle
            p axle configuration
            .axle_type
                label(for="6x2") 6x2
                input(type="checkbox" data-type="axle_configuration" name="6x2" id='6x2' value='6x2' class='axle_configuration') 
            .axle_type
                label(for="4x4") 4x4
                input(type="checkbox" data-type="axle_configuration" name="4x4" id='4x4'  value='4x4' class='axle_configuration') 
            .axle_type
                label(for="4x2") 4x2
                input(type="checkbox" data-type="axle_configuration" name="4x2" id='4x2' value='4x2' class='axle_configuration') 
        .manufacturer
            p manufacturer
            .manufacturer_type
                label(for="DAF") DAF
                input(type="checkbox" data-type="make" name = "DAF" id='DAF' value = 'DAF') 
            .manufacturer_type
                label(for="FORD") FORD
                input(type="checkbox" data-type="make" name = "FORD" id='FORD' value = 'FORD') 
            .manufacturer_type
                label(for="VOLVO") VOLVO    
                input(type="checkbox" data-type="make" name = "VOLVO" id='VOLVO' value = 'VOLVO') 



    .items
        each item in stock
            +card(item.href, item.title, item.price, item.price_currency, item.make, item.model, item.type, item.year, item.mileage, item.mileage_measure, item.axle_configuration, item.power, item.power_measure, item.payload, item.gross_weight, item.image)
.AdditionalInformation.container
    p A truck (a heavy load vehicle) – is a means of transport intended for load transportation. The concept of a “truck” has a rather broad definition and includes tractor units, as well as commercial vehicles and even pick-ups. A truck consists of a traction part and a load platform. Now let’s take into consideration trucks with the integral load platform and the GVW that reaches up to 7, 5 tons.
    p Trucks’ axle configuration may vary from 4x2 to 8x8 according to the engine capacity and the purpose of a truck. Thus, quarry and construction dump trucks are equipped with 4x4, 6x4, 6x6 and 8x6 wheel-bases more often.
    p Trucks are equipped with all modern passive and active safety systems in order to use the truck in urban areas or on the highways. These systems include collision prevention system, hill hold control, self-adjusting headlights, etc. Moreover, a contemporary truck meets all the requirements concerning driver’s comfort and the ergonomics of the cabin.
footer
    .container.footer_content
        .footer_title
            img.logo(src="img/logo.svg", alt="logo")
            p DAF
        .footer_contact
            .address
                <svg class = 'geo icon' width="15" height="22" viewBox="0 0 15 22" fill="#000000" xmlns="http://www.w3.org/2000/svg">
                <path  d="M7.54 21.957L7.09468 21.4569C7.03063 21.385 5.50928 19.6691 3.89322 17.2402C1.69972 13.9432 0.459142 11.0522 0.206146 8.64713C0.164247 8.29952 0.14386 7.98648 0.14386 7.69023C0.14386 3.42625 3.46187 -0.0429688 7.54016 -0.0429688C11.6172 -0.0429688 14.9352 3.42558 14.9365 7.68889C14.9365 7.97691 14.9165 8.28592 14.8755 8.63336C14.6281 11.0393 13.3891 13.9331 11.1927 17.2345C9.57456 19.6664 8.04952 21.385 7.98547 21.457L7.54 21.957ZM7.54016 1.22964C4.13305 1.22964 1.361 4.12802 1.361 7.6904C1.361 7.93411 1.3785 8.19663 1.41446 8.49271L1.41559 8.50345C1.87743 12.9176 6.13712 18.374 7.54032 20.0657C8.94544 18.3728 13.2146 12.9077 13.6657 8.49254L13.667 8.4818C13.7026 8.18068 13.7193 7.92874 13.7193 7.68906C13.7182 4.12752 10.9461 1.22964 7.54016 1.22964ZM7.54016 12.8918C4.79717 12.8918 2.56547 10.5584 2.56547 7.6904C2.56547 4.8224 4.79717 2.489 7.54016 2.489C10.2825 2.489 12.5136 4.8224 12.5136 7.6904C12.5136 10.5584 10.2825 12.8918 7.54016 12.8918ZM7.54016 3.76178C5.46835 3.76178 3.78277 5.52417 3.78277 7.6904C3.78277 9.85663 5.46835 11.619 7.54016 11.619C9.61133 11.619 11.2964 9.85663 11.2964 7.6904C11.2964 5.52417 9.61133 3.76178 7.54016 3.76178Z" fill="#000000"/>
                </svg>                
                p Company Adress: Lorem ipsum dolor sit amet 18600, Netherlands
            .number
                <svg class='phone icon' width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M11.8166 8.09832C11.2263 7.50798 10.2657 7.50798 9.6754 8.09832L9.02977 8.74399C7.42659 7.87038 6.12927 6.57299 5.25551 4.96972L5.90114 4.32405C6.49165 3.7337 6.49165 2.77307 5.90114 2.18272L4.16128 0.442762C3.57097 -0.147587 2.61039 -0.147587 2.02008 0.442762L0.628276 1.83465C-0.168972 2.63194 -0.208744 4.00262 0.516229 5.69433C1.14571 7.16313 2.29767 8.77751 3.75993 10.2399C5.22219 11.7022 6.83648 12.8542 8.3052 13.4837C9.1089 13.8282 9.83993 14 10.4716 14C11.1696 14 11.7461 13.7902 12.1647 13.3717L13.5565 11.9796V11.9798C13.8425 11.6937 14 11.3135 14 10.9091C14 10.5045 13.8425 10.1244 13.5565 9.83848L11.8166 8.09832ZM11.0672 12.2742C10.8397 12.5017 10.1399 12.5815 8.91671 12.0573C7.62504 11.5037 6.18337 10.4684 4.85739 9.14234C3.5314 7.81627 2.49633 6.37472 1.94276 5.08298C1.41846 3.85968 1.4982 3.1597 1.72573 2.93216L3.09088 1.56693L4.77704 3.25338L3.96889 4.06178C3.60347 4.42722 3.51525 4.98143 3.74964 5.44095C4.81216 7.52453 6.4751 9.18756 8.55856 10.2502C9.01826 10.4846 9.57244 10.3965 9.93785 10.0309L10.746 9.22269L12.4324 10.9091L11.0672 12.2742Z" fill="#4F4F4F"/>
                </svg>
                a(href="tel:+38 958 755-00-00") +38 958 755-00-00
            .social
                a(href="https://www.facebook.com/" target='_blank')
                    <svg class='facebook icon' width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path id='icon' d="M28.9643 15C28.9643 23.0167 22.5839 29.5 14.7321 29.5C6.8804 29.5 0.5 23.0167 0.5 15C0.5 6.98334 6.8804 0.5 14.7321 0.5C22.5839 0.5 28.9643 6.98334 28.9643 15Z" stroke="#828282"/>
                    <path id='icon' d="M15.7267 22.472H13.3629C12.9681 22.472 12.6469 22.1604 12.6469 21.7774V16.6056H11.2678C10.8729 16.6056 10.5518 16.294 10.5518 15.9111V13.695C10.5518 13.312 10.8729 13.0004 11.2678 13.0004H12.6469V11.8907C12.6469 10.7903 13.0031 9.85411 13.6769 9.1835C14.3537 8.50982 15.2996 8.15381 16.4122 8.15381L18.215 8.15665C18.6092 8.1573 18.9298 8.46885 18.9298 8.85119V10.9088C18.9298 11.2918 18.6087 11.6034 18.214 11.6034L17.0002 11.6038C16.6301 11.6038 16.5358 11.6758 16.5156 11.6979C16.4824 11.7344 16.4429 11.8379 16.4429 12.1236V13.0003H18.1228C18.2493 13.0003 18.3718 13.0306 18.4771 13.0876C18.7042 13.2107 18.8455 13.4435 18.8455 13.6951L18.8446 15.9112C18.8446 16.294 18.5234 16.6055 18.1285 16.6055H16.4429V21.7774C16.4429 22.1604 16.1216 22.472 15.7267 22.472ZM13.5122 21.6326H15.5774V16.2299C15.5774 15.9741 15.792 15.7661 16.0555 15.7661H17.9792L17.98 13.8398H16.0554C15.7918 13.8398 15.5774 13.6318 15.5774 13.3761V12.1236C15.5774 11.7956 15.6118 11.4227 15.867 11.1424C16.1753 10.8035 16.6612 10.7644 17 10.7644L18.0645 10.764V8.99582L16.4116 8.9932C14.6234 8.9932 13.5122 10.1035 13.5122 11.8907V13.3761C13.5122 13.6317 13.2978 13.8398 13.0343 13.8398H11.4171V15.7661H13.0343C13.2978 15.7661 13.5122 15.9741 13.5122 16.2299V21.6326ZM18.2133 8.99604H18.2134H18.2133Z" fill="#828282"/>
                    </svg>
                a(href="https://www.instagram.com/?hl=ru" target='_blank')
                    <svg class='instagram icon' width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path id='icon' d="M29.1428 15C29.1428 23.0167 22.7624 29.5 14.9107 29.5C7.05896 29.5 0.678558 23.0167 0.678558 15C0.678558 6.98334 7.05896 0.5 14.9107 0.5C22.7624 0.5 29.1428 6.98334 29.1428 15Z" stroke="#828282"/>
                    <path id='icon' d="M18.2889 7.5H11.5325C9.33353 7.5 7.54462 9.32144 7.54462 11.5604V18.4397C7.54462 20.6785 9.33353 22.5 11.5325 22.5H18.289C20.4878 22.5 22.2767 20.6785 22.2767 18.4397V11.5604C22.2767 9.32144 20.4878 7.5 18.2889 7.5V7.5ZM21.4131 18.4397C21.4131 20.1936 20.0116 21.6206 18.2889 21.6206H11.5325C9.80976 21.6206 8.40828 20.1936 8.40828 18.4397V11.5604C8.40828 9.80632 9.80976 8.37936 11.5325 8.37936H18.289C20.0116 8.37936 21.4131 9.80632 21.4131 11.5604V18.4397Z" fill="#828282"/>
                    <path id='icon' d="M14.9107 10.8986C12.6895 10.8986 10.8825 12.7384 10.8825 15C10.8825 17.2616 12.6895 19.1014 14.9107 19.1014C17.1319 19.1014 18.9389 17.2616 18.9389 15C18.9389 12.7384 17.1319 10.8986 14.9107 10.8986ZM14.9107 18.2221C13.1658 18.2221 11.7461 16.7767 11.7461 15C11.7461 13.2234 13.1658 11.7779 14.9107 11.7779C16.6556 11.7779 18.0752 13.2234 18.0752 15C18.0752 16.7767 16.6556 18.2221 14.9107 18.2221Z" fill="#828282"/>
                    <path id='icon' d="M19.0352 9.44189C18.3788 9.44189 17.8449 9.9856 17.8449 10.6538C17.8449 11.3222 18.3788 11.8659 19.0352 11.8659C19.6916 11.8659 20.2256 11.3222 20.2256 10.6538C20.2256 9.98549 19.6916 9.44189 19.0352 9.44189ZM19.0352 10.9864C18.8552 10.9864 18.7086 10.8372 18.7086 10.6538C18.7086 10.4704 18.8552 10.3213 19.0352 10.3213C19.2154 10.3213 19.362 10.4704 19.362 10.6538C19.362 10.8372 19.2154 10.9864 19.0352 10.9864Z" fill="#828282"/>
                    </svg>
                a(href="https://twitter.com/?lang=ru" target='_blank')
                    <svg class='twitter icon' width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path id='icon' d="M29.3214 15C29.3214 23.0167 22.941 29.5 15.0893 29.5C7.23755 29.5 0.857147 23.0167 0.857147 15C0.857147 6.98334 7.23755 0.5 15.0893 0.5C22.941 0.5 29.3214 6.98334 29.3214 15Z" stroke="#828282"/>
                    <path id='icon' d="M13.1688 21.8181C10.4864 21.8181 8.36642 21.3365 7.35215 20.497L7.33241 20.4806L7.31451 20.4622C7.07357 20.2145 6.9946 19.8895 7.09809 19.5707L7.10753 19.5442C7.23309 19.2215 7.54073 19.0043 7.87412 19.0022C8.56028 18.99 9.1606 18.906 9.70538 18.7428C8.83641 18.3274 8.23277 17.6083 7.87363 16.5674C7.75286 16.2428 7.85708 15.8829 8.13542 15.6683C8.20408 15.6153 8.2817 15.5752 8.36385 15.5484C7.88099 14.9755 7.5243 14.3236 7.32456 13.6342L7.31831 13.6128L7.31402 13.5909C7.24621 13.2422 7.39789 12.8837 7.67585 12.7293C7.79246 12.6605 7.91912 12.6249 8.04627 12.6218C7.90919 12.3184 7.8095 12.0069 7.7504 11.6935C7.58634 10.825 7.72171 9.9544 8.15258 9.10583L8.25227 8.90094C8.33209 8.73699 8.48462 8.62182 8.66045 8.59246C8.83628 8.56322 9.01653 8.62295 9.14245 8.75237L9.32405 8.93924C10.7586 10.4849 12.0437 11.2183 14.2653 11.7201C14.3645 10.8437 14.7332 10.029 15.328 9.38785C16.0359 8.62497 16.9811 8.1969 17.9896 8.18229H17.9962C18.7321 8.18229 19.6448 8.61401 20.1968 8.91845C20.6704 8.75917 21.2409 8.51257 21.8329 8.25184C22.1099 8.11827 22.4513 8.17939 22.6691 8.40319C22.8826 8.62257 22.9418 8.93194 22.8285 9.2326C22.7855 9.35572 22.7367 9.47656 22.6824 9.59476C22.7634 9.63294 22.8376 9.68474 22.9002 9.74913C23.0897 9.94382 23.1686 10.2485 23.1013 10.5255L23.0941 10.5518C22.8673 11.3031 22.4315 11.915 21.8552 12.2991C21.7589 17.5666 17.8993 21.8181 13.1688 21.8181ZM8.25595 19.9575C9.21173 20.5133 11.0332 20.8495 13.1688 20.8495C15.222 20.8495 17.1595 19.9436 18.6244 18.2986C20.1013 16.6401 20.9146 14.4378 20.9146 12.0973V12.0709C20.9146 11.859 21.0282 11.6655 21.2108 11.566C21.5815 11.3642 21.8817 11.0206 22.0769 10.5812C21.8755 10.6138 21.6709 10.5308 21.5455 10.3576C21.3997 10.1564 21.3981 9.88459 21.5414 9.68159C21.6188 9.57195 21.6889 9.45791 21.7515 9.33996C21.2403 9.56061 20.7548 9.75845 20.3334 9.88988C20.1803 9.93752 20.0096 9.91887 19.8697 9.8386C19.1194 9.40902 18.4206 9.15221 17.9993 9.15095C16.4447 9.17539 15.1806 10.5438 15.1806 12.2028C15.1806 12.3744 15.1066 12.5351 14.9777 12.6441C14.8487 12.753 14.681 12.7966 14.5172 12.7634C11.9555 12.2447 10.4375 11.4669 8.85897 9.83671C8.63274 10.3938 8.57094 10.9549 8.67553 11.509C8.7816 12.0703 9.06373 12.6327 9.49154 13.1353C9.65413 13.3261 9.67571 13.5991 9.54524 13.8144C9.41527 14.029 9.1682 14.1293 8.9307 14.0639C8.74506 14.0128 8.57438 13.9456 8.41253 13.8593C8.74224 14.5953 9.30933 15.276 10.0222 15.7781C10.2288 15.9236 10.3151 16.1949 10.2323 16.4379C10.1492 16.6812 9.91738 16.8378 9.66676 16.8187C9.39369 16.7979 9.15177 16.7446 8.9291 16.6548C9.32883 17.4914 9.96753 17.9517 10.9515 18.1276C11.1858 18.1696 11.3683 18.3597 11.4056 18.6008C11.443 18.8418 11.3268 19.0808 11.1168 19.1953C10.2781 19.6522 9.36144 19.8974 8.25595 19.9575Z" fill="#828282"/>
                    </svg>
                a(href="https://www.youtube.com/" target='_blank')
                    <svg class='youtube icon' width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path id='icon' d="M29.5 15C29.5 23.0167 23.1196 29.5 15.2678 29.5C7.41611 29.5 1.03571 23.0167 1.03571 15C1.03571 6.98334 7.41611 0.5 15.2678 0.5C23.1196 0.5 29.5 6.98334 29.5 15Z" stroke="#828282"/>
                    <g clip-path="url(#clip0)">
                    <path id='icon' d="M17.5354 14.326L14.2808 12.5128C14.0936 12.4085 13.8724 12.4124 13.689 12.5231C13.5054 12.6339 13.396 12.8296 13.396 13.0468V16.642C13.396 16.8582 13.5048 17.0536 13.6871 17.1645C13.7823 17.2224 13.8878 17.2514 13.9936 17.2514C14.0905 17.2514 14.1876 17.2271 14.2769 17.1781L17.5317 15.3961C17.7249 15.2903 17.8455 15.0858 17.8464 14.8623C17.8472 14.6388 17.7281 14.4333 17.5354 14.326ZM14.2593 16.1898V13.5027L16.6918 14.8579L14.2593 16.1898Z" fill="#828282"/>
                    <path id='icon' d="M22.5255 11.9979L22.5248 11.991C22.5123 11.8703 22.3881 10.7964 21.8754 10.2501C21.2827 9.60766 20.6108 9.52961 20.2877 9.49219C20.2609 9.4891 20.2364 9.48624 20.2145 9.48326L20.1888 9.48051C18.2412 9.33632 15.2998 9.31664 15.2704 9.31652L15.2678 9.31641L15.2652 9.31652C15.2358 9.31664 12.2945 9.33632 10.3293 9.48051L10.3033 9.48326C10.2824 9.48612 10.2594 9.48875 10.2343 9.49173C9.9149 9.52927 9.25019 9.60743 8.65583 10.2731C8.16747 10.8135 8.0263 11.8644 8.0118 11.9825L8.01011 11.9979C8.00573 12.0481 7.90176 13.2441 7.90176 14.4448V15.5673C7.90176 16.768 8.00573 17.964 8.01011 18.0144L8.0109 18.0219C8.02338 18.1407 8.14746 19.1949 8.65786 19.7414C9.21512 20.3624 9.91974 20.4445 10.2987 20.4887C10.3586 20.4957 10.4102 20.5016 10.4454 20.5079L10.4795 20.5127C11.604 20.6217 15.1298 20.6754 15.2793 20.6775L15.2838 20.6776L15.2883 20.6775C15.3177 20.6774 18.2589 20.6577 20.2065 20.5135L20.2323 20.5108C20.2569 20.5075 20.2845 20.5045 20.3149 20.5013C20.6325 20.467 21.2936 20.3957 21.8798 19.739C22.3681 19.1985 22.5094 18.1476 22.5238 18.0296L22.5255 18.0143C22.5299 17.9639 22.634 16.768 22.634 15.5673V14.4448C22.6338 13.2441 22.5299 12.0482 22.5255 11.9979ZM21.7705 15.5673C21.7705 16.6786 21.6752 17.8231 21.6662 17.9282C21.6296 18.2176 21.4807 18.8825 21.2427 19.1459C20.8758 19.5568 20.499 19.5975 20.2238 19.6272C20.1906 19.6307 20.1598 19.6342 20.1319 19.6377C18.2481 19.7764 15.4179 19.7977 15.2875 19.7985C15.1412 19.7963 11.6671 19.7422 10.5768 19.6391C10.5209 19.6298 10.4606 19.6227 10.397 19.6154C10.0743 19.5778 9.63256 19.5263 9.2929 19.1459L9.28492 19.1372C9.05113 18.8892 8.90648 18.2674 8.86973 17.9316C8.86287 17.8522 8.76508 16.6942 8.76508 15.5673V14.4448C8.76508 13.3348 8.86017 12.1915 8.86939 12.0843C8.91311 11.7434 9.06485 11.1187 9.2929 10.8663C9.671 10.4428 10.0697 10.3959 10.3334 10.3649C10.3585 10.3619 10.382 10.3592 10.4037 10.3563C12.3149 10.2169 15.1655 10.1962 15.2678 10.1954C15.3701 10.1961 18.2197 10.2169 20.1139 10.3563C20.1372 10.3593 20.1626 10.3623 20.1899 10.3655C20.4611 10.397 20.871 10.4446 21.2472 10.8531L21.2507 10.8569C21.4845 11.1049 21.6291 11.7375 21.6659 12.08C21.6724 12.155 21.7705 13.3155 21.7705 14.4448V15.5673Z" fill="#828282"/>
                    </g>
                    <defs>
                    <clipPath id="clip0">
                    <rect width="14.7321" height="15" fill="white" transform="translate(7.90176 7.5)"/>
                    </clipPath>
                    </defs>
                    </svg>
        .footer_txt
            p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Amet quos ullam atque accusantium ratione molestias soluta, provident nobis, assumenda dolorum voluptas incidunt inventore quia reiciendis quis. Quis quo molestias repellat.

script(src='js/script.js')

















